<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
    <div align="center">
        <form action="/register/" method="post">
            {% if register_form.captcha.errors %}
                <div class="alert alert-warning">{{ register_form.captcha.errors }}</div>
            {% elif message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            <h1>Signup here!</h1>
            {% csrf_token %}
            {{ register_form.as_p }}
            <input type="submit" value="register"><br />
        </form>

    </div>
</body>
</html>